---
layout: page
title: 每晚8:00, Let's do IT
tagline: 
---
{% include JB/setup %}


<ul class="list-group">
  {% for post in paginator.posts %}
    <li class="list-group-item">
    <div class="date divLast">
    <span >{{ post.date | date_to_string }}</span>
    </div>
    <h3>{{ post.title }}</h3>
    <hr />
	<div>{{ post.content  | split:"<!-- more -->"| first }}</div>
    <a href="{{ BASE_PATH }}{{ post.url }}">More &raquo;</a>
    </li>
  {% endfor %}
</ul>

<div class="pagination">
  <ul>
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li>
          <a href="/">&laquo;</a>
        </li>
      {% else %}
        <li>
          <a href="/page{{paginator.previous_page}}">&laquo;</a>
        </li>
      {% endif %}
    {% else %}
      <li class="disabled">
        <a href="#">&laquo;</a>
      </li>
    {% endif %}
    {% if paginator.page == 1 %}
      <li class="active">
        <a href="#">1</a>
      </li>
    {% else %}
      <li>
        <a href="/">1</a>
      </li>
    {% endif %}
    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
        <li class="active">
          <a href="#">{{count}}</a>
        </li>
      {% else %}
        <li>
          <a href="/page{{count}}">{{count}}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
      <li>
        <a href="/page{{paginator.next_page}}">&raquo;</a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="#">&raquo;</a>
      </li>
    {% endif %}
  </ul>
</div>