<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Curiosity Tong</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ ASSET_PATH }}/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/themes/twitter/bootstrap/img/favicon.ico" />
  </head>
  <body class="index">
    <section id="container">
      <section class="sample">
        <section class="sample" id="title">
          <section class="text">
            <h1>
              Beautiful W
              <span class="kern">eb</span>
              Type
            </h1>
            <h2>
              A showcase of the best typefaces from the
              <a href="http://www.google.com/webfonts#ChoosePlace:select">Google web fonts directory</a>
              .
            </h2>
            <section class="intro" id="herzog">
              <p>
                There are over 600 typefaces in the Google web fonts directory. Many of them are awful. But there are also high-quality typefaces that deserve a closer look. Below are examples of these typefaces in action. Click the examples to get the typeface from the Google web fonts directory.
              </p>
              <ul>
                <li><a href="http://hellohappy.org">Maintained by Chad Mazzola</a></li>
                <li><a href="http://github.com/ubuwaits/beautiful-web-type">Watch this repo on github</a></li>
                <li><a href="http://twitter.com/ubuwaits">Follow me on twitter</a></li>
              </ul>
            </section>
          </section>
        </section>
        <section class="sample" id="herzog">
          <section class="text">
            <a href="http://www.google.com/webfonts/specimen/Cardo" title="Cardo">
            <h2>“I personally would rather do the existentially essential things in life on foot. If you live in England and your girlfriend is in Sicily, and it is clear you want to marry her, then you should walk to Sicily to propose. For these things travel by car or aeroplane is not the right thing.”</h2>
            <h3>—Werner Herzog, <em>Of Walking in Ice</em></h3>
            </a>
          </section>
        </section>
      </section>
    </section>
    <footer></footer>
  </body>
</html>
